<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" access-decision-manager-ref="accessDecisionManager">
	<access-denied-handler error-page="/pageNotFound"/>
		<intercept-url pattern="/delete*" access="ADMIN" />
		<intercept-url pattern="/edit*" access="USER,ADMIN" />
		<form-login login-page="/loginUser" default-target-url="/getAllUsers"  authentication-failure-url="/loginUser"
		username-parameter="email"  password-parameter="pwd"/>
		<logout logout-success-url="/loginUser"/>
		
	</http>

	<!-- <authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="sandeep" password="123456" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager> -->
	
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="connection"
				users-by-username-query="select email, password, true from user where email=?"
				authorities-by-username-query="select email, role from user where email=?" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>